<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <form action="/form">
        <input type="date" name="date" id="date" class="date">
        <input type="submit">
    </form>
    <img src="{{hum}}" alt="grafico #1" width="600px">
    <img src="{{cel}}" alt="grafico #2">
    <img src="{{far}}" alt="grafico #3">
</body>
</html>